*,
*::after,
*::before {
  /* * Global and reset styles */
  padding: 0;
  margin: 0;
  font-family: inherit;
  /* Source: Chris Coyier */
  box-sizing: inherit;
  /* * Respect user's color scheme preference. Use light-dark to implement */
  color-scheme: light dark;
  --custom-font-family: sans-serif;
  /* * End Global and reset styles */

  /* * Background colors */
  /* Source: Josh Comeau's gradient calculator https://www.joshwcomeau.com/gradient-generator/ */
  /* * Used for dark color scheme */
  /* --dark-gradient: linear-gradient(0deg,
      hsl(240, 14%, 1%) 0%,
      hsl(247deg 62% 10%) 16%,
      hsl(245deg 58% 11%) 24%,
      hsl(244deg 55% 11%) 30%,
      hsl(243deg 53% 12%) 35%,
      hsl(242deg 51% 12%) 40%,
      hsl(242deg 50% 13%) 45%,
      hsl(242deg 48% 13%) 50%,
      hsl(243deg 48% 14%) 55%,
      hsl(244deg 47% 14%) 60%,
      hsl(244deg 47% 15%) 65%,
      hsl(245deg 46% 15%) 70%,
      hsl(246deg 46% 16%) 76%,
      hsl(247deg 46% 16%) 84%,
      hsl(248deg 45% 16%) 100%); */

  /* * Backgrounds */
  /* todo work out a way to use a gradient even if it's with prefers-color-scheme instead of light-dark. Or maybe use light-dark for the solid colors and then use prefers-color-scheme for the gradient? Maybe not - the gradient leaves a notch etc. while the color doesn't*/
  /* --background-color: light-dark(#ffffff, #1b1639); */
  /* --bg-color-1: light-dark(#ffffff, #1c173d); */
  --bg-color-1: light-dark(#ffffff, #15122f);
  /* --bg-color-2: light-dark(#f9f7f6, #0c0828); */
  --bg-color-2: light-dark(#ffffff, #0c0828);
  --bg-color-3: light-dark(#bce4f9, #0c0828);

  /* ? Possible gradient background */
  /* Try 1 */
  --my-gradient: linear-gradient(light-dark(#ffffff, hsl(248deg 45% 16%)), light-dark(#f7f7f7, hsl(240, 44%, 6%)));

  --my-gradient: linear-gradient(light-dark(#377a9000, hsl(248deg 45% 16%)), light-dark(#63bff040, hsl(240, 44%, 6%)));

  --my-gradient: linear-gradient(light-dark(#ffffff, hsl(248deg 45% 16%)), light-dark(#63bff040, hsl(240, 44%, 6%)));

  /* * from a very translucent blue to a more opaque blue. */
  --my-gradient: linear-gradient(light-dark(#63bff005, hsl(248deg 45% 16%)), light-dark(#63bff040, hsl(240, 44%, 6%)));

  /* --my-gradient: linear-gradient(light-dark(#ffffff, hsl(248deg 45% 16%)), light-dark(hsl(201, 82%, 66%), hsl(240, 44%, 6%))); */



  /* OR */
  /* Try 2 */
  /* --color-start: light-dark(#ff7e5f, #6f0000); */
  /* --color-end: light-dark(#feb47b, #1a1913); */



  /* * Text colors */
  --text-color: light-dark(#00004d, #f2e4e6);
  --text-color: light-dark(#09415e, #f2e4e6);
  --text-color: light-dark(#0b4d70, #f2e4e6);
  --text-color: light-dark(#0b1b70, #f2e4e6);
  --text-color: light-dark(#09165f, #f2e4e6);
  --text-color: light-dark(#07124d, #f2e4e6);



  --text-color-disabled: light-dark(#999999, #bbbbbb);
  /* todo choose colors - the disabled ones look good? The chrome default is around #777777 */
  --text-color-placeholder: light-dark(#999999, #bbbbbb);

  /* * Fill colors - reuse text colors */
  /* todo create variables for fill colors for light and dark themes. Or reuse the text colors since they're the same? */

  /* * Accent colors */
  --accent-color-1: light-dark(#f36500, #f493a4);
  --accent-color-1: light-dark(#b84b12, #f493a4);
  --accent-color-1: light-dark(#dc5a15, #f493a4);

  /* todo based on new orange #f36500, choose new accents for checkbox? */
  --accent-color-2: light-dark(#f36500, #d7556c);
  --accent-color-2-hover: light-dark(#ff6b00, #ed5e77);
  --accent-color-3: light-dark(#09415e, #333);

  /* * Borders */
  --extra-narrow-border: 0.5px solid;
  --narrow-border: 1px solid;
  --wide-border: 3px solid;
  --border-radius: 5px;
}

html,
body {
  /* Try 1 */
  background-image: var(--my-gradient);
  /* Try 2 */
  /* background-image: linear-gradient(var(--color-start), var(--color-end)); */

  padding: 0;
  margin: 0;
  /* * Per Chris Coyier */
  box-sizing: border-box;
  font-family: var(--custom-font-family);
  /* ? Gradient may not work with light-dark might need to use prefers-color-scheme */
  /* background: var(--bg-color-1); */
  /* * Ensures the gradient remains fixed even with scrolling content. ? If not using gradient, remove? */
  background-attachment: fixed;
  /* ? needed will push */
  background-size: cover;
  font-family: var(--custom-font-family);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  width: 100vw;
  /* ? Does min-height allow the gradient to fill the whole screen? */
  min-height: 120vh;
  /* ? Or 100vh */
  /* Todo: try both to see if it covers the notch */
  min-height: 100dvh;
}

/* Grid */

div#root {
  width: 100%;
}

.container {
  /* ? need margins if using j-c:c? push to check */
  /* margin-left: auto; */
  /* margin-right: auto; */
  display: flex;
  flex-flow: row wrap;
  gap: 40px;
  justify-content: center;
  padding-top: 50px;
}

button {
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 20px;
  padding: 42px, 0;
  width: 100%;
}

.header-logo {
  width: 100%;
}

header h1 {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}

header p {
  width: 100%;
  text-align: center;
}

/* Form */
.todo-input .todo-input-label {
  display: block;
  /* ? push */
  /* color: var(--dark-theme-disabled-text); */
  font-size: 1rem;
  flex-grow: 1;
  /* ? */
  /* margin-bottom: 10px; */
}

.todo-input .count-input-label {
  width: 75%;
  flex-grow: 1;
  font-size: 1rem;
}

input {
  width: 100%;
  border-radius: var(--border-radius);
  border: var(--narrow-border) var(--accent-color-3);
  padding: 8px;
  font-size: 1rem;
  background-color: var(--bg-color-1);
  color: var(--text-color);
  margin: 10px 0 0 0;
}

/* * hack to override webkit autofill background color */
/* * From Google AI overview. Also see: https://stackoverflow.com/questions/41871618/how-to-change-safari-autofill-yellow-background-color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--bg-color-1) inset !important;
  -webkit-text-fill-color: var(--text-color) !important;
}

input[disabled] {
  color: var(--text-color-disabled);
}

/* ? Is this being applied? I don't see a class of form in the HTML? */
/* .form {
  align-self: center;
  width: 97%;
  display: flex;
  align-items: flex-end;
  gap: 12px;
  margin-top: 38px;
} */

/* ? Is this being applied? I don't see a class of form in the HTML? */
/* .form input { */
/* background-color: var(--dark-theme-bg-2); */
/* color: var(--color);
  color: red;
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  border-radius: var(--border-radius);
  padding: 12px;
  margin-top: 10px;
} */

/* ? Is this being applied? I don't see a class of form in the HTML? */
/* .form button {
  width: 10%;
  height: 50px;
  border-radius: var(--border-radius);
  background-color: #d7556c;
  border: none;
} */

/* * Style messages for Auth */
.success-message {
  /* * */
  color: #155724;
  color: #0b2812;
  background: #d4edda;
  background: #dbe8de;
  border: 1px solid #c3e6cb;
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: var(--border-radius);
}

.error-message {
  /* * */
  color: #721c24;
  color: #401015;
  /* color: #2d0b0f; */
  background: #f8d7da;
  background: #f2dee0;
  border: 1px solid #f5c6cb;
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: var(--border-radius);
}

/* End Style messages for Auth */

.todo_list {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  align-self: center;
  /* ? */
  /* margin-top: 27px; */
  margin-top: 17px;
  margin-bottom: 27px;
  gap: 27px;
}

.todo_item,
.edit-form input {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  border: var(--narrow-border) var(--accent-color-1);
  border-radius: var(--border-radius);
  font-size: 16px;
  background-color: var(--bg-color-2);
  color: var(--text-color);
  padding: 12px 0;
}

.edit-form input {
  outline: transparent;
  width: calc(100% - 14px);
  height: calc(100% - 12px);
  border: transparent;
}

.todo_items_left,
.todo_items_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.todo_items_left {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  gap: 12px;
  font-size: 16px;
  width: 100%;
  flex-grow: 1;
}

.todo_items_left label {
  display: inline-flex;
  /* display: inline;
  display: block;
  display: flex; */
  align-items: center;
}

.todo_items_left label {
  flex-grow: 1;
  border: none;
  padding: 0.5rem 0;
  text-transform: initial;

}

.todo_items_left input[type="checkbox"] {
  width: 20px;
  /* height: 20px; */
  margin-top: 0;
  margin-right: 8px;
  accent-color: var(--accent-color-2);
}

.todo_items_left input[type=checkbox]:hover {
  /* filter: brightness(1.5); */
  accent-color: var(--accent-color-2-hover);
}

.todo_items_left p.goal {
  flex-basis: 55%;
  text-align: right;
}

.todo_items_right {
  gap: 4px;
  justify-content: space-between;
  width: 100%;
  padding: .5rem 0 0 1rem;
}

.todo_items_right .edit-delete-buttons {
  display: flex;
}


.todo_items_right button {
  background-color: transparent;
  color: var(--text-color);
  border: none;
}

.todo_items_right button svg {
  fill: #f2e4e6;
  fill: var(--text-color);
}


dialog {
  background-color: var(--bg-color-1);
  color: var(--text-color);
  width: 100%;
  margin: auto;
  border: var(--wide-border) var(--accent-color-3);
  border-radius: var(--border-radius);
  /* ? Horizontal scroll for the account, but not the about dialog? Could be because more content creates a vertical scrollbar. This fixes it but ? Feels hacky. Try removing if the content is reduced so that they isn't a vertical scroll */
  overflow-x: hidden;
  /* max-width: 100%; */
}

.account-form-widget h1 {
  width: 100%;
  text-align: center;
}

.account-form-widget p {
  margin: 20px;
  text-align: center;
}

.account-form-widget button {
  margin: 20px 0;
}

.dialog-content {
  width: 100%;
  padding: 20px;
}

.dialog-content button {
  margin: 20px 0 0 0;
}

dialog::backdrop {
  background-color: var(--bg-color-3);
}

svg {
  fill: var(--text-color);
}

.todo-input {
  width: 90%;
}

form {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 12px;
}

/* Button */

button,
.button {
  color: var(--text-color);
  border: var(--narrow-border) var(--accent-color-3);
  background-color: var(--bg-color-1);
  display: inline-block;
  text-align: center;
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
}

button.primary,
.button.primary {
  background-color: var(--bg-color-1);
}

/* Widgets */

.card {
  border: var(--narrow-border) var(--accent-color-3);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
}

.card p {
  padding: 0 1rem;
}

.avatar {
  border-radius: var(--border-radius);
  overflow: hidden;
  max-width: 100%;
}

.avatar.image {
  object-fit: cover;
}

.avatar.no-image {
  background-color: #333;
  border: 1px solid rgb(200, 200, 200);
  border-radius: var(--border-radius);
}

.mainHeader {
  width: 100%;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.avatarPlaceholder {
  border: var(--narrow-border) var(--accent-color-3);
  border-radius: var(--border-radius);
  width: 35px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-widget {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.form-widget h1 {
  width: 100%;
  text-align: center;
}

.form-widget p {
  width: 100%;
  text-align: center;
}

.form-widget {
  width: 100%;
}

.account-form-widget-elements {
  width: 100%;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.about-container p {
  text-align: left;
}

.dialog-content {
  width: 100%;
  padding: 20px;
}

.sign-in-input {
  width: 90%;
}

.sign-in-input input {
  margin: 0;
  padding: .75rem 1rem;
}

.sign-in-button button {
  padding: .75rem 1rem;
}

.form-widget>.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #444444;
  text-transform: none !important;
  transition: all 0.2s ease;
}

.form-widget .button:hover {
  background-color: #2a2a2a;
}

.form-widget .button>.loader {
  width: 17px;
  animation: spin 1s linear infinite;
  filter: invert(1);
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Utils */

.block {
  display: block;
  width: 100%;
}

.inline-block {
  display: inline-block;
  width: 100%;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  white-space: nowrap;
}

@media (min-width:768px) {

  /* TODO: Test on an iPad mini to see if this is the correct media query of if it should be moved to the 1000px media query */
  .sign-in-input {
    width: 60%;
  }

  .sign-in-button {
    width: 25%;
  }
}

@media (min-width: 1000px) {

  /* Authorization form */
  .auth-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    width: 75%;
  }

  /* ? Duplicate? */
  .sign-in-input {
    width: 60%;
  }

  .sign-in-button {
    width: 35%;
  }

  /* Dialog */
  dialog {
    width: 75%;
  }

  /* Homepage */
  .wrapper {
    width: 100%;
  }

  header {
    justify-content: space-between;
    flex-flow: nowrap;
    width: 75%;
  }

  header h1 {
    text-align: left;
    width: initial;
  }

  header p {
    text-align: left;
    /* width: initial; */
  }

  /* Forms */

  .todo-input .count-input-label {
    width: 20%;
    flex-grow: 0;
  }

  .todo-input {
    width: 75%;
  }

  .todo_list {
    width: 75%;
  }

  .todo_item {
    justify-content: space-between;
  }

  .todo_items_left {
    width: 60%;
  }

  .todo_items_left p.goal {
    text-align: right;
  }

  .todo_items_right {
    justify-content: flex-end;
    /* * Wide enough to not wrap but take up as little space as possible */
    width: 37%;
  }

  .account-form-buttons {
    display: flex;
    justify-content: space-between;
  }

  .account-form-widget button {
    width: 48%;
    gap: 10px;
  }
}

@media (min-width: 1400px) {

  dialog {
    width: 60%;
  }

  header {
    flex-flow: nowrap;
    width: 60%;
  }

  .todo-input {
    width: 60%;
  }

  .todo_list {
    width: 60%;
  }
}

@media (min-width: 1500px) {

  /* Authorization form */
  .sign-in-input {
    width: 60%;
  }

  .sign-in-button {
    width: 35%;
  }

  /* Dialog */
  dialog {
    width: 50%;
  }

  header {
    flex-flow: nowrap;
    width: 50%;
  }

  header h1 {
    text-align: left;
    width: initial;
  }

  header p {
    text-align: left;
  }

  .todo-input {
    width: 50%;
  }

  .todo_list {
    width: 50%;
  }

  .todo_items_left {
    width: 65%;
  }

  .todo_items_right {
    width: 35%;
  }
}