*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  font-family: inherit;
  box-sizing: border-box;
  color: var(--custom-color);
  font-family: var(--custom-font-family);
}

html,
body {
  --custom-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* --custom-bg-color: #101010; */
  --custom-bg-color: #1c173d;
  --darker-bg-color: #0c0828;
  /* --custom-panel-color: #222; */
  /* --custom-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8); */
  /* --custom-color: #fff; */
  --custom-color: #f2e4e6;
  /* --custom-color-brand: #24b47e; */
  --custom-color-brand: #0c0828;
  /* --custom-color-secondary: #666; */
  --custom-border: 1px solid #333;
  --custom-wide-border: 3px solid #333;
  /* --custom-border: 1px solid #0c0828; */
  --highlight-border: 1px solid #f493a4;
  --custom-border-radius: 5px;
  --custom-spacing: 5px;

  padding: 0;
  margin: 0;
  font-family: var(--custom-font-family);
  background-color: var(--custom-bg-color);
  font-family: var(--custom-font-family);
  /* background-color: #0d0d0d;
  background-color: #231d4b;
  background-color: #1c173d; */
  /* color: #fff;
  color: #f2e4e6; */
  color: var(--custom-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

/* Grid */

.container {
  /* width: 90%; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  gap: 40px;
  justify-content: center;
}

button {
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  justify-content: center;
  flex-flow: row wrap;
  gap: 20px;
  padding: 42px, 0;
  width: 100%;
}

.header-logo {
  width: 100%;
}

header h1 {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}

header p {
  width: 100%;
  text-align: center;
}

/* Form */
/* ? make flex grow/shrink/basis instead of width? */
.todo-input .todo-input-label {
  display: block;
  /* margin: 5px 0; */
  color: var(--custom-color-secondary);
  font-size: 0.8rem;
  text-transform: uppercase;
  /* width: 75%; */
  flex-grow: 1;
  /* margin: 10px 0; */
}

.todo-input .count-input-label {
  /* width: 20%; */
  width: 75%;
  flex-grow: 1;
  /* width: 100%; */
}

input {
  width: 100%;
  border-radius: 5px;
  border: var(--custom-border);
  padding: 8px;
  font-size: 0.9rem;
  background-color: var(--custom-bg-color);
  color: var(--custom-color);
  margin: 10px 0 0 0;
}

input[disabled] {
  color: var(--custom-color-secondary);
}

.form {
  align-self: center;
  width: 97%;
  /* max-width: 455px; */
  display: flex;
  align-items: flex-end;
  gap: 12px;
  margin-top: 38px;
}

.form input {
  background-color: #1f2937;
  background-color: #0c0828;
  color: #fff;
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 11px;
  padding: 12px;
  margin-top: 10px;
}

.form button {
  width: 10%;
  height: 50px;
  border-radius: 11px;
  background-color: #88ab33;
  background-color: #ffc0cb;
  background-color: #d7556c;
  border: none;
  /* border: 1px solid #d7556c;
  border: 1px solid #ffc0cb; */
}

.todo_list {
  width: 97%;
  /* max-width: 455px; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  align-self: center;
  /* margin: 0 auto; */
  margin-top: 27px;
  margin-bottom: 27px;
  gap: 27px;
}

.todo_item,
.edit-form input {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  /* height: 70px; */
  width: 100%;
  /* max-width: 455px; */
  /* border: 1px solid #c2b39a;
  border: 1px solid #ffc0cb;
  border: 1px solid #f493a4; */
  border: var(--highlight-border);
  border-radius: 11px;
  font-size: 16px;
  /* background-color: #0d0d0d;
  background-color: #050312;
  background-color: #0c0828; */
  background-color: var(--darker-bg-color);
  color: #fff;
  padding: 12px;
}

.edit-form input {
  outline: transparent;
  width: calc(100% - 14px);
  height: calc(100% - 12px);
  border: transparent;
}

.todo_items_left,
.todo_items_right {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}

.todo_items_left {
  background-color: transparent;
  border: none;
  color: #fff;
  gap: 12px;
  font-size: 16px;
  width: 100%;
  flex-grow: 1;
}

.todo_items_left p {
  text-align: left;
}

.todo_items_right {
  gap: 4px;
  justify-content: space-between;
  width: 100%;
  padding: .5rem 0 .5rem 1rem;
}

.todo_items_right button {
  background-color: transparent;
  color: #fff;
  border: none;
}

.todo_items_right button svg {
  fill: #c2b39a;
  fill: #ffc0cb;
  fill: #f2e4e6;
}

dialog {
  /* position: fixed;
  top: 0;
  left: 0; */
  /* width: 100%;
  height: 100%; */
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: var(--custom-bg-color);
  /* color: white; */
  color: var(--custom-color);
  width: 100%;
  /* ! Don't add display flex here - the dialog will disappear */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* z-index: 9999; */
  /* align-self: center; */
  margin: auto;
  border: var(--custom-wide-border);
  border-radius: var(--custom-border-radius);
}

.account-form-widget {
  /* width: 90%; */
  /* padding: 20px; */
}

.account-form-widget h1 {
  width: 100%;
  text-align: center;
}

.account-form-widget button {
  margin: 20px 0;
}

.dialog-content {
  width: 100%;
  padding: 20px;
  /* text-align: center; */
}

.dialog-content button {
  margin: 20px 0 0 0;
}

dialog::backdrop {
  /* background-color: rgba(0, 0, 0, 0.5);
  /* background-color: black;  */
  background-color: var(--darker-bg-color);
}

svg {
  /* fill: white; */
  fill: #f2e4e6;
}

.todo-input {
  width: 90%;
}

form {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  /* flex-direction: column; */
  gap: 12px;
  /* width: 100%; */
}

/* Button */

button,
.button {
  color: var(--custom-color);
  border: var(--custom-border);
  background-color: var(--custom-bg-color);
  display: inline-block;
  text-align: center;
  border-radius: var(--custom-border-radius);
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-align: center;
  font-size: 0.9rem;
  text-transform: uppercase;
}

button.primary,
.button.primary {
  /* background-color: var(--custom-color-brand);
  border: 1px solid var(--custom-color-brand); */
  background-color: var(--custom-bg-color);
  /* border: 1px solid var(--custom-color-brand); */
}

/* Widgets */

.card {
  /* width: 100%; */
  display: block;
  border: var(--custom-border);
  border-radius: var(--custom-border-radius);
  padding: var(--custom-spacing);
}

.avatar {
  border-radius: var(--custom-border-radius);
  overflow: hidden;
  max-width: 100%;
}

.avatar.image {
  object-fit: cover;
}

.avatar.no-image {
  background-color: #333;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
}

.mainHeader {
  width: 100%;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.avatarPlaceholder {
  border: var(--custom-border);
  border-radius: var(--custom-border-radius);
  width: 35px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-widget {
  display: flex;
  /* flex-direction: column; */
  flex-flow: row wrap;
  align-items: center;
  gap: 20px;
}

.form-widget h1 {
  width: 100%;
  text-align: center;
}

.form-widget p {
  width: 100%;
  text-align: center;
}

.form-widget {
  width: 100%;
}

.account-form-widget-elements {
  width: 100%;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.about-container p {
  text-align: left;
}

.dialog-content {
  width: 100%;
  padding: 20px;
  /* text-align: center; */
}

.sign-in-input {
  width: 90%;
}

.sign-in-input input {
  margin: 0;
  padding: .75rem 1rem;
}

.sign-in-button button {
  padding: .75rem 1rem;
}

.form-widget>.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #444444;
  text-transform: none !important;
  transition: all 0.2s ease;
}

.form-widget .button:hover {
  background-color: #2a2a2a;
}

.form-widget .button>.loader {
  width: 17px;
  animation: spin 1s linear infinite;
  filter: invert(1);
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Utils */

.block {
  display: block;
  width: 100%;
}

.inline-block {
  display: inline-block;
  width: 100%;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  white-space: nowrap;
}

@media (min-width: 768px) {
  /* * Was 510px */

  /* Authorization form */
  .auth-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    width: 75%;
  }

  .sign-in-button {
    width: 35%;
  }

  /* Dialog */
  dialog {
    width: 75%;
  }

  /* Homepage */
  .wrapper {
    width: 100%;
  }

  header {
    justify-content: center;
    justify-content: space-between;
    flex-flow: nowrap;
    width: 75%;
  }

  header h1 {
    text-align: left;
    width: initial;
  }

  header p {
    text-align: left;
    /* width: initial; */
  }

  /* Forms */
  .todo-input label {
    /* width: 87%; */
  }

  .todo-input .count-input-label {
    width: 20%;
    /* width: 76%; */
    flex-grow: 0;
    /* width: 100%; */
  }

  .todo-input {
    width: 75%;
  }

  .todo_list {
    width: 75%;
  }

  .todo_item {
    justify-content: space-between;
  }

  .todo_items_left {
    width: 50%;
  }

  .todo_items_right {
    justify-content: flex-end;
    width: 50%;
  }

  .account-form-buttons {
    display: flex;
    justify-content: space-between;
  }

  .account-form-widget button {
    width: 48%;
    gap: 10px;
  }
}

@media (min-width: 1200px) {

  /* Authorization form */
  .sign-in-input {
    width: 60%;
  }

  .sign-in-button {
    width: 35%;
  }

  /* Dialog */
  dialog {
    width: 50%;
  }

  header {
    flex-flow: nowrap;
    width: 50%;
  }

  header h1 {
    text-align: left;
    width: initial;
  }

  header p {
    text-align: left;
    /* width: initial; */
  }

  .todo-input label {
    /* width: 90%;  */
  }

  .todo-input {
    width: 50%;
  }

  .todo_list {
    width: 50%;
  }

  .todo_items_left {
    width: 65%;
    /* flex-grow: 1; */
  }

  .todo_items_right {
    width: 35%;
  }
}